<!-- views/partials/footer.ejs -->
<div class="container">
  <p class="mb-0">© 2020 Nike, Inc. All Rights Reserved / Nike App Concept <a href="https://twitter.com/hashtag/UntilWeAllWin?src=hashtag_click&f=live" target="_blank" rel="noopener">#UntilWeAllWin</a> Ad-Campaign</p>
  <p class="mb-0">Built and Designed by <a href="https://github.com/jaayperez" target="_blank" rel="noopener">@jaayperez</a> / Licensed under <a href="https://github.com/jaayperez/nike-app/blob/master/LICENSE" target="_blank" rel="noopener">MIT</a>.</p>
</div>
