<!-- views/partials/main.ejs -->
<div class="container">
  <div class="row">
    <div id="location" class="list-unstyled"></div>
    <h1 class="col-8 heading mb-4" data-target-resolver></h1>
    <img src="./images/ClipartKey_671797.png" class="layer-logo d-none d-xl-block" width="650" height="300" alt="App Image" loading="lazy">
  </div>
</div>
