<!-- views/partials/main.ejs -->
<div class="container">
  <div class="row">
      <!-- Heading -->
      <h1 class="col-8 heading mb-4" data-target-resolver></h1>
      <!-- List -->
        <ul id="locations" class="col-4 list-unstyled">
          <li class="mb-4">Africa</li>
          <li class="mb-4">Americas</li>
          <li class="mb-4">Asia Pacific</li>
          <li class="mb-4">Europe</li>
          <li class="mb-4">Middle East</li>
        </ul>

        <img src="./images/ClipartKey_671797.png" class="layer-logo d-none d-xl-block" width="650" height="300" alt="App Image" loading="lazy">
  </div>
</div>
