/*
  CSS Responsive
  Developed to be mobile first.
  Remember, keep it light: Speed is Important!
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .heading {
    font-size: 3rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .heading {
    font-size: 3rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .heading {
    font-size: 5rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .heading {
    font-size: 5rem;
  }
}
